.html{
    font-size: 10px;
}
.nav_container{
    background-color: rgb(31, 35, 36);
    padding: 1rem;
    
}
.container_{
    padding: 0;
}
.nav{
    display: flex;
    justify-content:space-between;
    width: 85%;
    margin: auto;
}
.nav_ele{
    padding: 0 2rem ;
    border-radius: 1rem;
}

.nav_ele a{
    color: rgb(217, 196, 73);
}

.container_main{
    margin: auto;
    width:90%;
    
}
.form_{
    padding-top: 1rem;
    margin: auto;
}
.position{
    position: absolute;
    margin: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.btm{
    padding-top: 2rem;
    
}
.btm div{
    border-top: 0.1rem solid grey;
    padding-bottom: 2rem;
}
.pass{
    padding: 1rem;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    color: #151313;
}
.grid_{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:auto;
    column-gap: 0.5rem;
    row-gap: 1rem;
    overflow:scroll ;
    margin-bottom: 2rem;
}
.head{
    padding-top: 1rem;
    text-transform: capitalize;
}
legend{
    text-transform: capitalize;
}
.form__{
    text-transform: capitalize;
}

